
body{
  color: #222;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.icon{
  border: 1px solid red;
  position: relative;
  width: 125px;
  height: 125px;
  margin: 10px;
}
.icon span {
  position: absolute;
  background-color: #000;
  color: #fff;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  top: -80px;
  /* pointer-events: none; 를 주지 않고, opacity:0 으로 보이지 않게 하면, 보이지는 않지만, 마우스를 hover 했을 때, 아이콘이 아닌 부분에도 span 이 나타나게 된다. 이를 방지하기 위해 pointer-events:none 을 사용한다. 다른 방법으로는 visibility: hidden; 을 주어 안보이게 하고,마우스를 올렸을때 visible 를 주는 방법이 있다. 이때 ,visibility 는 transition 이 안먹기 때문에, 자연스러운 동작을 위해 opacity 와 같이 사용해줘야한다.*/
  pointer-events: none;
  left: 50%;
  transform: translateX(-50%);
  opacity:0;
  transition: 0.7s;
}

.icon span:after {
  content:'';
  position:absolute;
  background-color: #000;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-50%);
  bottom: -5px;
  left: 50%;
}

.icon:hover span {
  opacity: 1;
}

