*{
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
a{
  text-decoration: none;
  color: #222;
}
/* flex 사용 */
/* .gnb{
  list-style: none;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  display: flex;
}
.gnb li {
  flex: 1;
  border: 1px solid red;
  text-align: center;
} */

.gnb{
  list-style: none;
  width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
}
.gnb li {
  /* 기본 값으로  box-sizing: content-box; 가 들어가게 되는데 이는 padding과 border는 width와 height 값에 포함되지 않게 된다. 이때,border-box 를 주게 되면, 예를 들어 width값을 120px 을 설정한 경우, padding과 border 가 포함된 전체 크기가 120px이 된다. */
  box-sizing: border-box;
  float: left;
  width: 120px;
  text-align: center;
}

.gnb li a {
  font-size: 14px;
  position: relative;
}

.gnb li a:before {
  content: '';
  position: absolute;
  background-color: dodgerblue;
  height: 2px;
  width: 0;
  bottom: -10px;
  transition: 0.5s;
  left: 50%;
  transform: translateX(-50%);
}
.gnb a:hover:before{
  width: 100%;
}